---

import NavBar from '../layouts/NavBar.astro';
import Footer from '../layouts/Footer.astro';



---

<html data-theme="dark" lang="en">
	<head>
    <!-- Primary Meta Tags -->
  <title>Contact</title>
  <meta name="title" content="Steve Sultan - Software Developer">
  <meta name="description" content="Diligent software engineer with 5+ years experience. To provide innovative and cutting-edge business solutions for the  clients.">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://www.stevesultan.com/">
    <meta property="og:title" content="Steve Sultan - Software Developer">
    <meta property="og:description" content="Diligent software engineer with 5+ years experience. To provide innovative and cutting-edge business solutions for the  clients.">
    <meta property="og:image" content="https://i.postimg.cc/pdT0fxr4/metatag-img.jpg">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://www.stevesultan.com/">
    <meta property="twitter:title" content="Steve Sultan - Software Developer">
    <meta property="twitter:description" content="Diligent software engineer with 5+ years experience. To provide innovative and cutting-edge business solutions for the  clients.">
    <meta property="twitter:image" content="https://i.postimg.cc/pdT0fxr4/metatag-img.jpg">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	
    <meta name="keywords" content="Software developer, web app, mobile app, developer, tech blogger, steve sultan, project management, react developer, javascript developer, nodejs developer, Python dev,frontend, backend, fullstack ">
		<meta name="robots" content="index, follow">
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<meta name="language" content="English">
		<meta name="author" content="Steve Sultan">
		<link rel="icon" type="image/x-icon" href="/favicon.ico" />
		<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
		<link rel="stylesheet" href={Astro.resolve('../styles/global.css')}>
		
	</head>
	
	<body class="text-gray-800 antialiased">
	
	<NavBar />

    <main class="profile-page">

      <section class="relative block" style="height: 500px;">
        <div
          class="absolute top-0 w-full h-full bg-center bg-cover"
          style='background-image: url("https://images.unsplash.com/photo-1499336315816-097655dcfbda?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=2710&amp;q=80");'
        >
          <span
            id="blackOverlay"
            class="w-full h-full absolute opacity-50 bg-black"
          ></span>
        </div>
        <div
          class="top-auto bottom-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden"
          style="height: 70px;"
        >
          <svg
            class="absolute bottom-0 overflow-hidden"
            xmlns="http://www.w3.org/2000/svg"
            preserveAspectRatio="none"
            version="1.1"
            viewBox="0 0 2560 100"
            x="0"
            y="0"
          >
            <polygon
              class="text-gray-300 fill-current"
              points="2560 0 2560 100 0 100"
            ></polygon>
          </svg>
        </div>
      </section>

      <section class="relative py-16 bg-gray-300">
        <div class="container mx-auto px-4">
          <div
            class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-xl rounded-lg -mt-64"
          >
            <div class="px-6">
              <div class="flex flex-wrap justify-center">
                <div
                  class="w-full lg:w-3/12 px-4 lg:order-2 flex justify-center"
                >
                  <div class="relative">
                  <a href="/">
                    <img
                      alt="..."
                      src="https://i.postimg.cc/DywH9Hmd/profile2.png"
                      class="shadow-xl rounded-full h-auto align-middle border-none absolute -m-16 -ml-20 lg:-ml-16"
                      style="max-width: 200px; margin-left: -6rem;"
                    />
                    </a>
                  </div>
                </div>
                <div
                  class="w-full lg:w-4/12 px-4 lg:order-3 lg:text-right lg:self-center"
                >
                  <div class="py-6 px-3 mt-32 sm:mt-0">
                    <!-- <button
                      class="bg-neutral active:bg-pink-600 uppercase text-white font-bold hover:shadow-md shadow text-xs px-4 py-2 rounded outline-none focus:outline-none sm:mr-2 mb-1"
                      type="button"
                      style="transition: all 0.15s ease 0s;"
                    >
                      CONTACT
                    </button> -->
                  </div>
                </div>
               
			    <div class="w-full lg:w-4/12 px-4 lg:order-1">
                  <div class="flex justify-center py-4 lg:pt-4 pt-8">
                    <!-- <div class="mr-4 p-3 text-center">
                      <span
                        class="text-xl font-bold block uppercase tracking-wide text-gray-700"
                        >22</span
                      ><span class="text-sm text-gray-500">Friends</span>
                    </div>
                    <div class="mr-4 p-3 text-center">
                      <span
                        class="text-xl font-bold block uppercase tracking-wide text-gray-700"
                        >10</span
                      ><span class="text-sm text-gray-500">Photos</span>
                    </div>
                    <div class="lg:mr-4 p-3 text-center">
                      <span
                        class="text-xl font-bold block uppercase tracking-wide text-gray-700"
                        >89</span
                      ><span class="text-sm text-gray-500">Comments</span>
                    </div> -->
	
					
                  </div>
                </div>
				
              </div>
              <div class="text-center mt-12">
			  <div class="m-6 indicator">
  <div class="indicator-item badge badge-accent badge-outline">Open to work</div> 
                <h3
                  class="text-4xl font-semibold leading-normal mb-2 text-gray-800 mb-2"
                >
                  Contact me
                </h3>
				</div>
                <!-- <div
                  class="text-sm leading-normal mt-0 mb-2 text-gray-500 font-bold uppercase"
                >
                  <i
                    class="fas fa-map-marker-alt mr-2 text-lg text-gray-500"
                  ></i>
                  Toronto, Canada 
                </div> -->

                <div class="mb-2 text-gray-700 mt-10">

                </div>
                
              </div>
              <div class="flex flex-col justify-center my-3" >
		                      <h5
                  class="text-4xl font-semibold leading-normal mb-2 text-gray-800 mb-2"
                >
                  SteveSultan@outlook.com
                </h5>
		                        <h5
                  class="text-4xl font-semibold leading-normal mb-2 text-gray-800 mb-2"
                >
						<a href="https://www.linkedin.com/in/stevesultan/" >LinkedIn</a>
                </h5>

  <form id="form" action=""
			  data-botpoison-public-key="pk_2d9e12de-5fa6-4a6d-8cb1-a1cf02209d6c"
			    >
                    <!-- <div class="flex flex-row justify-center">
                      <label class="basis-1/4"  for="name">Name</label>
                      <input class="basis-1/4" type="text" id="name" name="name" placeholder="Name" required="" />
                    </div>
                    <div class="flex flex-row justify-center">
                      <label class="basis-1/4" for="email">Email</label>
                      <input class="basis-1/4" type="email" id="email" name="email" placeholder="Email" required="" />
                    </div> -->
                    <!-- <div class="flex flex-row justify-center">
                      <label class="basis-1/4" for="message">Message</label>
                      <textarea class="basis-1/4" id="message" name="message" placeholder="Message" required=""></textarea>
                    </div> -->
                    
                    <div class="form-control">
                    
                    <label class="input-group my-3">
                      <span>Name</span> 
                      <input type="text" id="name" name="name" required="" placeholder="Your Name" class="input input-bordered">
                    </label>
                    <label class="input-group my-3">
                      <span>Email</span> 
                      <input type="email" id="email" placeholder="info@site.com" class="input input-bordered" required="">
                    </label>
                    
                      <!-- <label class="label">
                        <span class="label-text">Your Message</span>
                      </label>  -->
                      <textarea class="my-3 textarea h-24 textarea-bordered" id="message" name="message" placeholder="Message" required=""></textarea>
                    </div>
                     
                    

                    <!-- <label for="email">Email</label>
                    <input type="email" id="email" name="email" placeholder="Email" required="" />
                    <label for="message">Message</label>
                    <textarea
                      id="message"
                      name="message"
                      placeholder="Message"
                      required=""
                    ></textarea> -->
                    <div class="flex flex-row justify-center">
                    <button id="button" class="btn btn-wide justify-center" type="submit">Submit</button>
                    </div>
                    <!-- <button type="submit">Send</button> -->
                  </form>
			
                </div>
            </div>
          </div>
        </div>
      </section>
      

<a href="https://github.com/stevesultan" class="github-corner" aria-label="View source on GitHub"><svg width="80" height="80" viewBox="0 0 250 250" style="fill:#151513; color:#fff; position: absolute; top: 0; border: 0; right: 0;" aria-hidden="true"><path d="M0,0 L115,115 L130,115 L142,142 L250,250 L250,0 Z"></path><path d="M128.3,109.0 C113.8,99.7 119.0,89.6 119.0,89.6 C122.0,82.7 120.5,78.6 120.5,78.6 C119.2,72.0 123.4,76.3 123.4,76.3 C127.3,80.9 125.5,87.3 125.5,87.3 C122.9,97.6 130.6,101.9 134.4,103.2" fill="currentColor" style="transform-origin: 130px 106px;" class="octo-arm"></path><path d="M115.0,115.0 C114.9,115.1 118.7,116.5 119.8,115.4 L133.7,101.6 C136.9,99.2 139.9,98.4 142.2,98.6 C133.8,88.0 127.5,74.4 143.8,58.0 C148.5,53.4 154.0,51.2 159.7,51.0 C160.3,49.4 163.2,43.6 171.4,40.1 C171.4,40.1 176.1,42.5 178.8,56.2 C183.1,58.6 187.2,61.8 190.9,65.4 C194.5,69.0 197.7,73.2 200.1,77.6 C213.8,80.2 216.3,84.9 216.3,84.9 C212.7,93.1 206.9,96.0 205.4,96.6 C205.1,102.4 203.0,107.8 198.3,112.5 C181.9,128.9 168.3,122.5 157.7,114.1 C157.9,116.9 156.7,120.9 152.7,124.9 L141.0,136.5 C139.8,137.7 141.6,141.9 141.8,141.8 Z" fill="currentColor" class="octo-body"></path></svg></a><style>.github-corner:hover .octo-arm{animation:octocat-wave 560ms ease-in-out}@keyframes octocat-wave{0%,100%{transform:rotate(0)}20%,60%{transform:rotate(-25deg)}40%,80%{transform:rotate(10deg)}}@media (max-width:500px){.github-corner:hover .octo-arm{animation:none}.github-corner .octo-arm{animation:octocat-wave 560ms ease-in-out}}</style>
    
	</main>

	<Footer/>
  </body>
		       <!-- 1. Import the @botpoison/browser script -->
 	<script src="https://unpkg.com/@botpoison/browser" async></script>
  	<script src="https://cdn.jsdelivr.net/npm/theme-change@2.0.2/index.js"></script>
	    
	
</html>
